{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "add-module-exports",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/transform-runtime",
    "@babel/plugin-proposal-private-methods",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": ["./test"]
      }
    }]
  ]
}
