#General
.DS_Store

# Distribution folders
dist
lib

# Dependency directories
node_modules

#IDE directories
.idea
.vscode

##Temporary ignore for documentation
docs/_build

#Logs
npm-debug.log*

third_party/proto/
